<nav class="my-5" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item <% if(!page.hasPrev){ %>disabled<% } %>">
      <a 
        class="page-link" 
        href="/?page=<%- page.currectPage - 1 %>"
      >
        Previous
      </a>
    </li>

    <% for(let i = 1 ; i < page.totalPage + 1 ; i++){ %>
      <li class="page-item <% if(page.currectPage=== i){ %>active<% } %>">
        <a class="page-link" href="/?page=<%- i %>">
          <%- i %>
        </a>
      </li>
    <% } %>

    <li class="page-item <% if(!page.hasNext){ %>disabled<% } %>">
      <a 
        class="page-link" 
        href="/?page=<%- page.currectPage + 1 %>"
      >
        Next
      </a>
    </li>
  </ul>
</nav>